---
http_interactions:
- request:
    method: post
    uri: https://jcl49wv5ar-dsn.algolia.net/1/indexes/all_en/query
    body:
      encoding: UTF-8
      string: '{"params":"facetFilters=%5B%22category%3Astandard%22%5D&query=ISO+2382"}'
    headers:
      X-Algolia-Api-Key:
      - dd1b9e1ab383f4d4817d29cd5e96d3f0
      X-Algolia-Application-Id:
      - JCL49WV5AR
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"category":"standard","path":"/sites/isoorg/contents/data/standard/00/72/7265","uuid":"b581cc89-431f-4fad-891a-a7138d897168","title":"ISO
        2382-21:1985 Data processing -- Vocabulary -- Part 21: Interfaces between
        process computer systems and technical processes","status":"Withdrawn","year":2015,"order":100,"text":"Enables
        the international communication in information processing. Provides selected
        English and French terms and their definitions in the field of the links between
        the technical processes and the process computer systems, especially the process
        interface system the process control equipment and its interaction. ","objectID":"7265_0","_highlightResult":{"title":{"value":"<em>ISO</em>
        <em>2382</em>-21:1985 Data processing -- Vocabulary -- Part 21: Interfaces
        between process computer systems and technical processes","matchLevel":"full","fullyHighlighted":false,"matchedWords":["iso","2382"]},"text":{"value":"Enables
        the international communication in information processing. Provides selected
        English and French terms and their definitions in the field of the links between
        the technical processes and the process computer systems, especially the process
        interface system the process control equipment and its interaction. ","matchLevel":"none","matchedWords":[]}}},{"category":"standard","path":"/sites/isoorg/contents/data/standard/00/72/726[...]
[...]
- request:
    method: get
    uri: https://www.iso.org/standard/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CgoKPCEtLVtpZiBJRSA4XT4KPGh0bWwgbGFuZz0iZW4iIGNsYXNzPSJpZTgiPjwhW2VuZGlmXS0tPgo8IS0tW2lmIElFIDldPgo8aHRtbCBsYW5nPSJlbiIgY2xhc3M9ImllOSI+PCFbZW5kaW[...]
- request:
    method: get
    uri: https://www.iso.org/fr/standard/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CgoKPCEtLVtpZiBJRSA4XT4KPGh0bWwgbGFuZz0iZnIiIGNsYXNzPSJpZTgiPjwhW2VuZGlmXS0tPgo8IS0tW2lmIElFIDldPgo8aHRtbCBsYW5nPSJmciIgY2xhc3M9ImllOSI+PCFbZW5[...]
