---
http_interactions:
- request:
    method: get
    uri: https://www.iso.org/cms/render/live/en/sites/isoorg.advancedSearch.do?docNumber=7372&status=ENT_ACTIVE,ENT_PROGRESS,ENT_INACTIVE,ENT_DELETED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"standards":[{"priceGroup":"B","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":23441,"publicationStatus":"Withdrawn","docRef":"ISO
        7372:1993","splitPath":"/02/34","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"docNumber":7372,"langCode":"EN","docEdition":1,"newProjectDate":"1976-06-01
        00:00:00.0","splitPath":"/01/40","docElem":"0","title":"Trade data interchange
        \u2014 Trade data elements directory","stageStart":"1993-12-23","pages":1,"docRef":"ISO
        7372:1986","ics":[{"label":"01.140.30","text":"Documents in administration,
        commerce and industry"}],"publicationStatus_key":"ENT_INACTIVE","docPartNo":10,"pubLangs":"en","publicationDate":"1986-02","sdg_count":0,"stageId":"95.99","csnumber":14063,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/05/31","level_key":"MAIN_COMMITTEE","title":"Processes,
        data elements and documents in commerce, industry and administration","reference":"ISO/TC
        154","sortKey":"ISO/TC 154","field_key":"TECHNICAL","field":"Technical","id":53186,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"urn":"iso:std:14063:en","docElemSeq":0,"revises_count":0,"stages":[{"stageStart":"1976-06-01","stageId":"20.00"},{"stageStart":"1978-12-01","stageId":"20.20"},{"stageStart":"1980-07-01","stageId":"30.00"},{"stageStart":"1980-07-01","stageId":"30.99"},{"stageStart":"1983-11-01","stageId":"40.00"},{"stageStart":"1984-01-01","stageId":"40.20"},{"stageStart":"1984-08-01","stageId":"40.60"},{"stageStart":"1985-02-20","stageId":"50.00"},{"stageStart":"1985-10-17","stageId":"50.20"},{"stageStart":"1985-10-17","stageId":"50.60"},{"stageStart":"1986-02-27","stageId":"60.60"},{"stageStart":"1991-06-01","stageId":"90.92"},{"stageStart":"1993-12-23","stageId":"95.99"}],"docPart":"","associatedCommittees_count":0,"supplements_count":0,"revisedBy_count":1,"ics_count":1},{"priceGroup":"B","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":41237,"publicationStatus":"Published","docRef":"ISO
        7372:2005","splitPath":"/04/12","publicationStatus_key":"ENT_ACTIVE","stageId":"90.93"}],"docNumber":7372,"langCode":"EN","docEdition":2,"newProjectDate":"1993-12-17
        00:00:00.0","splitPath":"/02/34","docElem":"0","title":"Trade data interchange
        \u2014 Trade data elements directory","stageStart":"2005-06-15","pages":160,"docRef":"ISO
        7372:1993","ics":[{"label":"01.140.30","text":"Documents in administration,
        commerce and industry"}],"publicationStatus_key":"ENT_INACTIVE","docPartNo":10,"pubLangs":"en","publicationDate":"1993-12","sdg_count":0,"stageId":"95.99","csnumber":23441,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/05/31","level_key":"MAIN_COMMITTEE","title":"Processes,
        data elements and documents in commerce, industry and administration","reference":"ISO/TC
        154","sortKey":"ISO/TC 154","field_key":"TECHNICAL","field":"Technical","id":53186,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"revises":[{"csnumber":14063,"publicationStatus":"Withdrawn","docRef":"ISO
        7372:1986","splitPath":"/01/40","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"urn":"iso:std:23441:en","docElemSeq":0,"revises_count":1,"stages":[{"stageStart":"1993-12-17","stageId":"50.00"},{"stageStart":"1993-12-17","stageId":"50.20"},{"stageStart":"1993-12-17","stageId":"50.60"},{"stageStart":"1993-12-23","stageId":"60.60"},{"stageStart":"1997-11-30","stageId":"90.20"},{"stageStart":"1998-07-15","stageId":"[...]
