---
http_interactions:
- request:
    method: get
    uri: https://www.iso.org/cms/render/live/en/sites/isoorg.advancedSearch.do?docNumber=2382&status=ENT_ACTIVE,ENT_PROGRESS,ENT_INACTIVE,ENT_DELETED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"standards":[{"priceGroup":"B","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":7243,"publicationStatus":"Withdrawn","docRef":"ISO/IEC
        2382-8:1998","splitPath":"/00/72","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"docNumber":2382,"langCode":"EN","docEdition":1,"newProjectDate":"1978-09-01
        00:00:00.0","splitPath":"/00/72","docElem":"0","title":"Information processing
        systems \u2014 Vocabulary \u2014 Part 8: Control, integrity and security","stageStart":"1998-11-05","pages":18,"docRef":"ISO
        2382-8:1986","ics":[{"label":"35.020","text":"Information technology (IT)
        in general"},{"label":"01.040.35","text":"Information technology (Vocabularies)"}],"publicationStatus_key":"ENT_INACTIVE","docPartNo":10,"pubLangs":"en,fr","publicationDate":"1986-12","sdg_count":0,"stageId":"95.99","csnumber":7242,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/04/50","level_key":"MAIN_COMMITTEE","title":"Information
        technology","reference":"ISO/IEC JTC 1","sortKey":"ISO/IEC JTC 001","field_key":"TECHNICAL","field":"Technical","id":45020,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"urn":"iso:std:7242:en","docElemSeq":0,"revises_count":0,"stages":[{"stageStart":"1978-09-01","stageId":"20.00"},{"stageStart":"1981-01-01","stageId":"20.20"},{"stageStart":"1983-11-01","stageId":"30.00"},{"stageStart":"1984-10-01","stageId":"30.99"},{"stageStart":"1985-03-13","stageId":"40.00"},{"stageStart":"1985-05-16","stageId":"40.20"},{"stageStart":"1985-11-01","stageId":"40.60"},{"stageStart":"1986-08-19","stageId":"50.00"},{"stageStart":"1986-10-30","stageId":"50.20"},{"stageStart":"1986-10-30","stageId":"50.60"},{"stageStart":"1986-12-19","stageId":"60.60"},{"stageStart":"1991-06-01","stageId":"90.20"},{"stageStart":"1991-06-01","stageId":"90.92"},{"stageStart":"1998-11-05","stageId":"95.99"}],"jointStd":"ISO
        2382-8:1986","docPart":"8","associatedCommittees_count":0,"supplements_count":0,"revisedBy_count":1,"ics_count":2},{"priceGroup":"G","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":63598,"publicationStatus":"Published","docRef":"ISO/IEC
        2382:2015","splitPath":"/06/35","publicationStatus_key":"ENT_ACTIVE","stageId":"60.60"}],"docNumber":2382,"langCode":"EN","docEdition":3,"newProjectDate":"1991-06-01
        00:00:00.0","splitPath":"/00/72","docElem":"0","title":"Information technology
        \u2014 Vocabulary \u2014 Part 7: Computer programming","stageStart":"2015-04-29","pages":79,"docRef":"ISO/IEC
        2382-7:2000","ics":[{"label":"35.020","text":"Information technology (IT)
        in general"},{"label":"01.040.35","text":"Information technology (Vocabularies)"}],"publicationStatus_key":"ENT_INACTIVE","docPartNo":10,"pubLangs":"en,fr","publicationDate":"2000-04","sdg_count":0,"stageId":"95.99","csnumber":7241,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/04/50","level_key":"MAIN_COMMITTEE","title":"Information
        technology","reference":"ISO/IEC JTC 1","sortKey":"ISO/IEC JTC 001","field_key":"TECHNICAL","field":"Technical","id":45020,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"revises":[{"csnumber":7240,"publicationStatus":"Withdrawn","docRef":"ISO/IEC
        2382-7:1989","splitPath":"/00/72","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"urn":"iso:std:7241:en","docElemSeq":0,"revises_count":1,"stages":[{"stageStart":"1991-06-01","stageId":"20.00"},{"stageStart":"1994-10-25","stageId":"30.00"},{"stageStart":"1995-11-23","stageId":"30.20"},{"stageStart":"1995-11-23","stageId":"30.60"},{"stageStart":"1996-05-20","stageId":"30.99"},{"stageStart":"1996-11-06","stageI[...]
- request:
    method: get
    uri: https://www.iso.org/contents/data/standard/06/35/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - "/standard/63598.html"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jan 2020 12:13:00 GMT
- request:
    method: get
    uri: https://www.iso.org/standard/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CgoKPGh0bWwgbGFuZz0iZW4iPgogIDxoZWFkPgogICAgCiAgICA8c2NyaXB0PgogICAgICBkYXRhTGF5ZXIgPSBbewogICAgICAgICdwYWdlVHlwZSc6ICdpdHM6c3RhbmRhcmQnLAogICAgIC[...]
- request:
    method: get
    uri: https://www.iso.org/fr/standard/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CgoKPGh0bWwgbGFuZz0iZnIiPgogIDxoZWFkPgogICAgCiAgICA8c2NyaXB0PgogICAgICBkYXRhTGF5ZXIgPSBbewogICAgICAgICdwYWdlVHlwZSc6ICdpdHM6c3RhbmRhcmQnLAogICA[...]
- request:
    method: get
    uri: https://www.iso.org/ru/standard/63598.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CgoKPGh0bWwgbGFuZz0icnUiPgogIDxoZWFkPgogICAgCiAgICA8c2NyaXB0PgogICAgICBkYXRhTGF5ZXIgPSBbewogICAgICAgICdwYWdlVHlwZSc6ICdpdHM6c3RhbmRhcmQnLAogICA[...]
