---
http_interactions:
- request:
    method: get
    uri: https://www.iso.org/cms/render/live/en/sites/isoorg.advancedSearch.do?docNumber=19115&status=ENT_ACTIVE,ENT_PROGRESS,ENT_INACTIVE,ENT_DELETED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"standards":[{"priceGroup":"XZ","publicationStatus":"Published","prodsAvailable":true,"docNumber":19115,"langCode":"EN","docEdition":1,"newProjectDate":"2017-01-10
        00:00:00.0","splitPath":"/07/31","docElem":"500","stageStart":"2018-02-15","pages":12,"docRef":"ISO
        19115-1:2014/Amd 1:2018","ics":[{"label":"35.240.70","text":"IT applications
        in science"}],"tgtDatePub":"2019-01-10 00:00:00.0","publicationStatus_key":"ENT_ACTIVE","docPartNo":10,"pubLangs":"en,fr","publicationDate":"2018-02","sdg_count":0,"stageId":"60.60","csnumber":73118,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/05/49","level_key":"MAIN_COMMITTEE","title":"Geographic
        information/Geomatics","reference":"ISO/TC 211","sortKey":"ISO/TC 211","field_key":"TECHNICAL","field":"Technical","id":54904,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"avCode":"1","multiLangCode":"10","urn":"iso:std:73118:en","docElemSeq":1,"revises_count":0,"multiLangText":"Monolingual","stages":[{"stageStart":"2017-01-10","stageId":"10.99"},{"stageStart":"2017-01-10","stageId":"30.99"},{"stageStart":"2017-01-18","stageId":"40.00"},{"stageStart":"2017-03-22","stageId":"40.20"},{"stageStart":"2017-06-15","stageId":"40.60"},{"stageStart":"2017-10-13","stageId":"40.99"},{"stageStart":"2017-10-13","stageId":"50.00"},{"stageStart":"2017-11-21","stageId":"50.20"},{"stageStart":"2018-01-18","stageId":"50.60"},{"stageStart":"2018-01-18","stageId":"60.00"},{"stageStart":"2018-02-15","stageId":"60.60"}],"docPart":"1","associatedCommittees_count":0,"family":"19115-PARTS","supplements_count":0,"revisedBy_count":0,"ics_count":1},{"priceGroup":"H","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":53798,"publicationStatus":"Published","docRef":"ISO
        19115-1:2014","splitPath":"/05/37","publicationStatus_key":"ENT_ACTIVE","stageId":"90.93"}],"docNumber":19115,"langCode":"EN","docEdition":1,"newProjectDate":"1995-07-31
        00:00:00.0","splitPath":"/02/60","docElem":"0","title":"Geographic information
        -- Metadata","stageStart":"2014-03-19","docRef":"ISO 19115:2003","ics":[{"label":"35.240.70","text":"IT
        applications in science"}],"tgtDatePub":"2002-07-30 00:00:00.0","publicationStatus_key":"ENT_INACTIVE","docPartNo":0,"pubLangs":"en","publicationDate":"2003-05","sdg_count":0,"stageId":"95.99","csnumber":26020,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/05/49","level_key":"MAIN_COMMITTEE","title":"Geographic
        information/Geomatics","reference":"ISO/TC 211","sortKey":"ISO/TC 211","field_key":"TECHNICAL","field":"Technical","id":54904,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"avCode":"1","multiLangCode":"10","urn":"iso:std:26020:en","supplements":[{"csnumber":44361,"publicationStatus":"Withdrawn","docRef":"ISO
        19115:2003/Cor 1:2006","splitPath":"/04/43","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"docElemSeq":0,"revises_count":0,"multiLangText":"Monolingual","stages":[{"stageStart":"1995-07-31","stageId":"10.99"},{"stageStart":"1995-08-07","stageId":"20.00"},{"stageStart":"1998-07-23","stageId":"30.00"},{"stageStart":"1998-07-23","stageId":"30.20"},{"stageStart":"1999-11-30","stageId":"30.92"},{"stageStart":"1999-1[...]
