---
http_interactions:
- request:
    method: post
    uri: https://jcl49wv5ar-dsn.algolia.net/1/indexes/all_en/query
    body:
      encoding: UTF-8
      string: '{"query":"ISO 00000","hitsPerPage":100,"filters":"category:standard"}'
    headers:
      X-Algolia-Api-Key:
      - dd1b9e1ab383f4d4817d29cd5e96d3f0
      X-Algolia-Application-Id:
      - JCL49WV5AR
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"category":"standard","path":"/sites/isoorg/contents/data/standard/03/64/36442","uuid":"93929ff9-7de2-4b17-9623-216dc6d0eeaa","title":"ISO
        10062:2006 Corrosion tests in artificial atmosphere at very low concentrations
        of polluting gas(es)","status":"Withdrawn","year":2022,"order":100,"text":"ISO
        10062:2006 specifies tests which are intended to determine the influence of
        one or more flowing polluting gas(es) at volume fractions less than or equal
        to 0,000001 on test samples and/or articles of metals and alloys with or without
        corrosion protection under determined conditions of temperature and relative
        humidity. These tests apply to metals and their alloys, metallic coatings
        (anodic and cathodic), metals with conversion coatings, metals with anodic
        oxide coatings, and metals with organic coatings. ","objectID":"36442_0","_highlightResult":{"title":{"value":"<em>ISO</em>
        10062:2006 Corrosion tests in artificial atmosphere at very low concentrations
        of polluting gas(es)","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["iso"]},"text":{"value":"<em>ISO</em>
        10062:2006 specifies tests which are intended to determine the influence of
        one or more flowing polluting gas(es) at volume fractions less than or equal
        to 0,<em>00000</em>1 on test samples and/or articles of metals and alloys
        with or without corrosion protection under determined conditions of temperature
        and relative humidity. These tests apply to metals and their alloys, metallic
        coatings (anodic and cathodic), metals with conversion coatings, metals with
        anodic oxide coatings, and metals with organic coatings. ","matchLevel":"full","fullyHighlighted":false,"matchedWords":["iso","00000"]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":100,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"ISO
        00000","params":"query=ISO+00000&hitsPerPage=100&filters=category%3Astandard","queryID":"017b9bc26394a48d3f64da544896ba78","_automaticInsights":true,"processingTimeMS":1,"processingTimingsMS":{"_request":{"roundTrip":194}}}'
  recorded_at: Tue, 14 Nov 2023 22:10:43 GMT
recorded_with: VCR 6.2.0
