---
http_interactions:
- request:
    method: get
    uri: https://www.iso.org/cms/render/live/en/sites/isoorg.advancedSearch.do?docNumber=11136&status=ENT_ACTIVE,ENT_PROGRESS,ENT_INACTIVE,ENT_DELETED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"standards":[{"priceGroup":"XZ","publicationStatus":"Under development","prodsAvailable":false,"docNumber":11136,"langCode":"EN","docEdition":1,"newProjectDate":"2017-03-29
        00:00:00.0","splitPath":"/07/35","docElem":"Amd","title":"Sensory analysis
        \u2014 Methodology \u2014 General guidance for conducting hedonic tests with
        consumers in a controlled area \u2014 Amendment 1","stageStart":"2019-10-26","docRef":"ISO
        11136:2014/Amd 1","ics":[{"label":"67.240","text":"Sensory analysis"}],"publicationStatus_key":"ENT_PROGRESS","docPartNo":10,"publicationDate":"2020-01","sdg_count":0,"stageId":"60.00","csnumber":73557,"committee":{"sector_key":"AGRICULTURE","level":"Sub
        committee","splitPath":"/04/79","level_key":"SUB_COMMITTEE","title":"Sensory
        analysis","reference":"ISO/TC 34/SC 12","sortKey":"ISO/TC 034/~SC 012","field_key":"TECHNICAL","field":"Technical","id":47942,"sector":"Food
        and agriculture","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"urn":"iso:std:73557:en","docElemSeq":1,"revises_count":0,"stages":[{"stageStart":"2017-03-29","stageId":"10.99"},{"stageStart":"2017-03-29","stageId":"30.99"},{"stageStart":"2018-09-17","stageId":"40.00"},{"stageStart":"2018-11-19","stageId":"40.20"},{"stageStart":"2019-02-12","stageId":"40.60"},{"stageStart":"2019-04-05","stageId":"40.99"},{"stageStart":"2019-08-13","stageId":"50.00"},{"stageStart":"2019-08-30","stageId":"50.20"},{"stageStart":"2019-10-26","stageId":"50.60"},{"stageStart":"2019-10-26","stageId":"60.00"},{"stageId":"60.60"}],"docPart":"","associatedCommittees_count":0,"supplements_count":0,"revisedBy_count":0,"ics_count":1},{"priceGroup":"F","publicationStatus":"Published","prodsAvailable":true,"docNumber":11136,"langCode":"EN","docEdition":1,"newProjectDate":"2010-07-22
        00:00:00.0","splitPath":"/05/01","docElem":"0","title":"Sensory analysis \u2014
        Methodology \u2014 General guidance for conducting hedonic tests with consumers
        in a controlled area","stageStart":"2019-10-15","pages":44,"docRef":"ISO 11136:2014","ics":[{"label":"67.240","text":"Sensory
        analysis"}],"publicationStatus_key":"ENT_ACTIVE","docPartNo":10,"pubLangs":"en,fr,ru","publicationDate":"2014-12","sdg_count":0,"stageId":"90.20","csnumber":50125,"committee":{"sector_key":"AGRICULTURE","level":"Sub
        committee","splitPath":"/04/79","level_key":"SUB_COMMITTEE","title":"Sensory
        analysis","reference":"ISO/TC 34/SC 12","sortKey":"ISO/TC 034/~SC 012","field_key":"TECHNICAL","field":"Technical","id":47942,"sector":"Food
        and agriculture","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"urn":"iso:std:50125:en","supplements":[{"csnumber":73557,"publicationStatus":"Under
        development","docRef":"ISO 11136:2014/Amd 1","splitPath":"/07/35","publicationStatus_key":"ENT_PROGRESS","stageId":"60.00"}],"docElemSeq":0,"revises_count":0,"stages":[{"stageStart":"2010-07-22","stageId":"10.99"},{"stageStart":"2010-07-22","stageId":"20.99"},{"stageStart":"2010-07-30","stageId":"30.00"},{"stageStart":"2012-03-28","stageId":"30.20"},{"stageStart":"2012-05-30","stageId":"30.60"},{"stageStart":"2012-10-26","stageId":"30.99"},{"stageStart":"2012-10-30","stageId":"40.00"},{"stageStart":"2012-12-30","stageId":"40.20"},{"stageStart":"2013-04-01","stageId":"40.60"},{"stageStart":"2013-09-24","stageId":"40.99"},{"stageStart":"2013-09-26","stageId":"50.00"},{"stageStart":"2014-07-02","stageId":"50.20"},{"stageStart":"2014-09-04","stageId":"50.60"},{"stageStart":"2014-10-21","stageId":"60.00"},{"stageStart":"2014-12-01","stageId":"60.60"},{"stageStart":"2019-10-15","stageId":"90.20"},{"stageId":"90.60"}],"docPart":"","associatedCommittees_count":0,"supplements_count":1,"revisedBy_count":0,"ics_count":1}]}'
  recorded_at: Tue, 21 Jan 2020 15:38:57 GMT
recorded_with: VCR 5.0.0
