---
http_interactions:
- request:
    method: post
    uri: https://jcl49wv5ar-dsn.algolia.net/1/indexes/all_en/query
    body:
      encoding: UTF-8
      string: '{"query":"ISO 111111","hitsPerPage":100,"filters":"category:standard"}'
    headers:
      X-Algolia-Api-Key:
      - dd1b9e1ab383f4d4817d29cd5e96d3f0
      X-Algolia-Application-Id:
      - JCL49WV5AR
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":100,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"ISO
        111111","params":"query=ISO+111111&hitsPerPage=100&filters=category%3Astandard","queryID":"b4f2a9a4672ccf4131fc67aed488de85","_automaticInsights":true,"renderingContent":{},"processingTimeMS":1,"processingTimingsMS":{"_request":{"roundTrip":106},"getIdx":{"load":{"total":1},"total":1},"total":2},"serverTimeMS":2}'
  recorded_at: Fri, 02 Feb 2024 19:26:04 GMT
recorded_with: VCR 6.2.0
